<?xml version="1.0" encoding="UTF-8"?>
<splat>
	<menubar>
		<menu name="File">
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="separator"/>
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="separator"/>
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="separator"/>
			<item type="range" size="5" />
		</menu>
		<menu name="Edit">
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="separator"/>
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="placeholder"/>
			<item type="separator"/>
			<item type="placeholder"/>
		</menu>
		<menu name="Search">
			<item type="placeholder"/>
			<item type="placeholder"/>
		</menu>
	</menubar>
	<actions>
		<fileio_new>
			<name>New</name>
			<shortcut>262254</shortcut>
			<menu>0</menu>
			<postion>0</postion>
		</fileio_new>
		<fileio_open>
			<name>Open</name>
			<shortcut>262255</shortcut>
			<menu>0</menu>
			<postion>1</postion>
		</fileio_open>
		<fileio_save>
			<name>Save</name>
			<shortcut>262259</shortcut>
			<menu>0</menu>
			<postion>3</postion>
		</fileio_save>
		<fileio_save-as>
			<name>Save As</name>
			<shortcut>393331</shortcut>
			<menu>0</menu>
			<postion>4</postion>
		</fileio_save-as>
		<fileio_close>
			<name>Close</name>
			<shortcut>262263</shortcut>
			<menu>0</menu>
			<postion>6</postion>
		</fileio_close>
		<fileio_quit>
			<name>Quit</name>
			<shortcut>262257</shortcut>
			<menu>0</menu>
			<postion>7</postion>
		</fileio_quit>
		<fileio_resent>
			<size>5</size>
			<menu>0</menu>
			<postion>9</postion>
		</fileio_resent>


		<undomanager_undo>
			<name>Undo</name>
			<shortcut>262266</shortcut>
			<menu>1</menu>
			<postion>0</postion>
			<popup>0</popup>
		</undomanager_undo>
		<undomanager_redo>
			<name>Redo</name>
			<shortcut>393338</shortcut>
			<menu>1</menu>
			<postion>1</postion>
			<popup>1</popup>
		</undomanager_redo>
		<basicedits_cut>
			<name>Cut</name>
			<shortcut>262264</shortcut>
			<menu>1</menu>
			<postion>3</postion>
			<popup>2</popup>
		</basicedits_cut>
		<basicedits_copy>
			<name>Copy</name>
			<shortcut>262243</shortcut>
			<menu>1</menu>
			<postion>4</postion>
			<popup>3</popup>
		</basicedits_copy>
		<basicedits_paste>
			<name>Paste</name>
			<shortcut>262262</shortcut>
			<menu>1</menu>
			<postion>5</postion>
			<popup>4</popup>
		</basicedits_paste>
		<basicedits_select-all>
			<name>Select All</name>
			<shortcut>262241</shortcut>
			<menu>1</menu>
			<postion>7</postion>
			<popup>5</popup>
		</basicedits_select-all>

		<search_find>
			<name>Find</name>
			<shortcut>262246</shortcut>
			<menu>2</menu>
			<postion>0</postion>
		</search_find>
		<search_replace>
			<name>Replace</name>
			<shortcut>262248</shortcut>
			<menu>2</menu>
			<postion>1</postion>
		</search_replace>
	</actions>
</splat>
